/*-----------------------------------------------
|   Reboot
-----------------------------------------------*/
::placeholder {
  opacity: 1;
  color: $gray-400 !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $top-nav-height + 2;
}

header {
  position: relative;
  z-index: 1020;
  background: $body-bg;
}

body {
  position: relative;
}

//setting up font family for bootstrap components
input,
button,
select,
optgroup,
textarea,
label,
.alert,
.badge,
.blockquote-footer,
.btn,
.navbar,
.pagination,
.valid-feedback,
.invalid-feedback {
  font-family: $font-family-sans-serif;
}

pre {
  margin: 0;
  transform: translate3d(0, 0, 0);
}

strong {
  font-weight: $font-weight-semi-bold;
}

label {
  font-weight: $font-weight-medium !important;
  margin-bottom: map-get($spacers, 2);
}

// Lists
ol,
ul {
  padding-left: 1.1rem;
}

iframe {
  border: none;
}
