# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=sipan
DB_USER=root
DB_PASS=

# Configuración de JWT
JWT_SECRET=sipan_secret_key_2024

# Configuración de Aplicación
APP_URL=http://localhost:8000
APP_NAME=SIPAN
TIMEZONE=America/Lima
