app_env=development
app_debug=true
session_lifetime=86400 # 1 day
session_name=SIPAN_SESSION

# Configuración de Base de Datos
db_driver=mysql
db_host=localhost
db_name=sipan
db_user=root
db_pass=

# Configuración de JWT
jwt_secret=sipan_secret_key_2024

# Configuración de Aplicación
timezone=America/Lima
